RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php?querysystemurl=$0


Options -Indexes

<FilesMatch "\.(php|twig)">
    Deny from all
</FilesMatch>

<FilesMatch "^index.php$">
    Allow from all
</FilesMatch>
