:root{
    --color1:#eee;
    --color2:#ddd;
}

main {
  min-height: 90%;
}

.bg-main {
    background-color: var(--color1);
}

.bg-footer{
    background-color: var(--color2);
}

.articles {
    background-color: var(--color1);
}

.full-size{
    min-height: 100vh;
}

footer{
    
  flex: 0 0 auto;
}